$container-width: 70%;
$default-margin: 50px auto;
$newsletter-text-color: #ffffff;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    @include flex-column;
    margin: 0 auto;
    width: 100%;

    section {
        width: $container-width;
        margin: $default-margin;
    }
}

.newsletter {
    @include flex-column;
    background-color: #2C2C2C;
    gap: 10px;
    padding: 90px;

    h1 {
        font-size: 40px;
        color: $newsletter-text-color;
    }

    p {
        color: $newsletter-text-color;
    }

    div {

        @include flex-column;
        flex-direction: row;
        gap: 5px;

        input {
            width: 300px;
            height: 50px;
        }

        button {
            @include flex-column;
            width: 30px;

            border-radius: 50%;
            border: none;

            svg {
                font-size: 20px;
            }
        }
    }
}
