$category-size: 125px;
$gap: 30px;
$font-size-small: 0.875rem;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.homeCategoryList {
  display: flex;
  gap: $gap;
  justify-content: center;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: $category-size;
  height: $category-size;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  p {
    font-size: $font-size-small;
  }
}

.categoryImage {
  width: $category-size;
  height: $category-size;
}
